# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Mac
.DS_Store

# Google API secrets
# google_sheet_token.json
# token.json
# credentials.json
# config/client_secret.json

# Carrefour config
config/carrefour_config.json
